:root {
    --very-dark: #03045e;
    --dark: #0077b6;
    --normal: #00b4d8;
    --light: #90e0ef;
    --very-light: #caf0f8;

    --textcolor: #000000;
    --bg-color: #eaeaea;
    --item-active-bg-color: #cccccc;
    --item-hover-bg-color: #ffffff;
}