@import "colors.css";

/* ----- Übersicht ----- */
.flex-tabelle {
    display: flex;
    justify-content: space-between;
}
.tabelle column,
.aktionen column,
.spieltag column {
    display: flex;
    flex-direction: column;
}
cell {
    border: solid 1px black;
    padding: 0.5rem;
    text-align: right;
}

.aktionen {
    margin: 0 1rem;
}
.flex-aktionen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aktionen button {
    margin-bottom: 1rem;
}

.flex-spieltag {
    display: flex;
}

.tabelle [data-type="platz"] {
    width: 3rem;
}
.tabelle [data-type="mannschaftsname"] {
    width: 14rem;
}
.tabelle [data-type="spiele"],
.tabelle [data-type="tore"],
.tabelle [data-type="punkte"] {
    width: 4rem;
}

.spieltag [data-type="datum"] {
    width: 6rem;
}
.spieltag [data-type="heim"],
.spieltag [data-type="gast"] {
    width: 14rem;
}
.spieltag [data-type="ergebnis"] {
    width: 5rem;
}





















/* ----- Aufstellung ----- */
.flex-mannschaft {
    display: flex;
    justify-content: space-between;
}

.mannschaft .rueckennummer {
    width: 2rem;
}
.mannschaft .spielername {
    width: 15rem;
}
.mannschaft .position {
    width: 8rem;
}
.mannschaft .staerke {
    width: 10rem;
}

.flex-mannschaft .position cell {
    text-transform: capitalize;
}

.mannschaft column {
    display: flex;
    flex-direction: column;
}
.startelf column {
    display: flex;
    flex-direction: column;
}

.flex-startelf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px black;
    padding: 2rem 2rem 0 2rem;
}

.flex-startelf row {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.flex-startelf cell {
    width: 3rem;
    text-align: center;
}

.header {
    display: flex;
    align-items: stretch;
    border-bottom: solid 2px black;;
}

.startelf .header column {
    flex: 1;
}
.startelf .header column cell {
    width: auto;
}






/* ----- letztes Spiel ----- */
.letztesSpiel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.kurzanalyse {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px var(--light);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.spielergebnis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.spielergebnis .heim {
    width: 40%;
    flex-grow: 1;
}
.spielergebnis .ergebnis {
    width: 20%;
    flex-grow: 2;
}
.spielergebnis .gast {
    width: 40%;
    flex-grow: 1;
}

.spielergebnis .heim,
.spielergebnis .ergebnis,
.spielergebnis .gast {
    text-align: center;
}

.spielverlauf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}





.statistik {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px var(--light);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.statistikinhalt {
    display: flex;
    flex-direction: row;
}
.statistikausgabe {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}
.statistikausgabe cell {
    border: none;
}

.statistikminute,
.statistikballbesitz,
.statistiktext {
    display: flex;
    flex-direction: column;
}
.statistiktext {
    flex-grow: 1;
}

.statistiknavigation {
    display: flex;
    flex-direction: column;
}
.statistiknavigation * {
    margin-bottom: 2px;
}

.vorschau {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px var(--light);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}