.left-aligned-children cell {
    text-align: left;
}
.center-aligned-children cell {
    text-align: center;
}
.right-aligned-children cell {
    text-align: right;
}

.flex-tabelle {
    display: flex;
    justify-content: space-between;
}
column {
    display: flex;
    flex-direction: column;
}
cell {
    border: solid 1px black;
    padding: 0.5rem;
    text-align: right;
}

.aktionen {
    margin: 0 1rem;
}
.flex-aktionen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aktionen button {
    margin-bottom: 1rem;
}

.flex-spieltag {
    display: flex;
}

.tabelle [data-type="platz"] {
    width: 3rem;
}
.tabelle [data-type="name"] {
    width: 14rem;
}
.tabelle [data-type="spiele"],
.tabelle [data-type="tore"],
.tabelle [data-type="punkte"] {
    width: 4rem;
}

.spieltag [data-type="datum"] {
    width: 6rem;
}
.spieltag [data-type="heim"],
.spieltag [data-type="gast"] {
    width: 14rem;
}
.spieltag [data-type="ergebnis"] {
    width: 5rem;
}
